<!doctype html>
<html ng-app>
<head>
    <title>cubes modeller</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap-theme.min.css')}}">
</head>

<body>
<div class="container">
    <!-- static navbar -->
    <div class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Modeller (demo)</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">link</a></li>
                <li><a href="#">foo</a></li>
                <li><a href="#">bar</a></li>
                <li><a href="#">baz</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>


    {% block body %}{% endblock %}
</div>

<!-- jquery (necessary for bootstrap's javascript plugins) -->
<script src="https://code.jquery.com/jquery.js"></script>
<script src="static/js/bootstrap.min.js"></script>

</body>
</html>
