{% extends "base.html" %}
{% block body %}
<a anchor="cubes"></a>
<h1>Cubes</h1>
<div>
        <button type="button" class="btn btn-default"><a
                href="edit_cube">New cube</a></button>
</div>
<table class="table">
<tr>
    <th>Name</th>
    <th>Label</th>
    <th>Action</th>
</tr>
{% for cube in cubes %}
<tr>
    <td><a href={{url_for("edit_cube", cube_id=cube.id)}}>{{cube.name}}</a></td>
    <td>{{cube.label}}</td>
    <td><a href="edit_cube/{{cube.id}}">edit</a>
        <a href="delete_cube/{{cube.id}}">delete</a>
    </td>
</tr>
{% endfor %}
</table>

<a anchor="dimensions"></a>
<h1>Dimensions</h1>
<div>
        <button type="button" class="btn btn-default"><a
                href="dimension">New dimension</a></button>
</div>
<table class="table">
<tr>
    <th>Name</th>
    <th>Label</th>
    <th>Action</th>
</tr>
{% for dim in dimensions %}
<tr>
    <td><a href="{{url_for("edit_dimension", dimension_id=dim.id)}}">{{dim.name}}</a></td>
    <td>{{dim.label}}</td>
    <td><a href="dimension/{{dim.id}}">edit</a>
        <a href="delete_dimension/{{dim.id}}">delete</a>
    </td>
</tr>
{% endfor %}
</table>
{% endblock %}
