{% extends "base.html" %}
{% block body %}
<h1>cubes</h1>
<div>
        <button type="button" class="btn btn-default"><a
                href="edit_cube">New cube</a></button>
</div>
<table class="table">
<tr>
    <th>Name</th>
    <th>Label</th>
    <th>Action</th>
</tr>
{% for cube in cubes %}
<tr>
    <td>{{cube.name}}</td>
    <td>{{cube.label}}</td>
    <td><a href="edit_cube/{{cube.name}}">edit</a>
    <td><a href="delete_cube/{{cube.name}}">delete</a>
    </td>
</tr>
{% endfor %}
</table>

{% endblock %}
