*.py[cod]

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
sdist
develop-eggs
tmp
venv

# Installer logs
pip-log.txt

# Other
*.iml
.idea
*.swp
doc/_build/
.vim
.python-version

# Local sandbox/playground
/sandbox

.DS_Store

# Coverage output
.coverage
htmlcov
