# Python cruft
__pycache__

# MacOS Cruft
.DS_Store

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
sdist
develop-eggs
tmp

# Caches
.mypy_cache

# Testing
.tox
.coverage
htmlcov

# Installer logs
pip-log.txt

# Tools (editors, IDEs)
*.iml
.idea
*.swp
.vim

# Other
doc/_build/

# Local sandbox/playground
/sandbox
