<div class="form-group">
    <label for="cube_name">Name</label>
    <input type="text"
           class="form-control"
           placeholder="Enter Cube Name"
           value="{{cube.name}}">
</div>

<div class="form-group">
    <label for="cube_label">Label</label>
    <input type="text"
           class="form-control"
           placeholder="Label"
           value="{{cube.label}}">
</div>

<div class="form-group">
    <label for="cube_description">Description</label>
    <textarea class="form-control" id="cube_label"
              placeholder="Cube Description">{{cube.description}}</textarea>
</div>
