<div class="form-group">
    <label for="cube_name">Datastore Name</label>
    <input type="text"
           class="form-control"
           placeholder="default"
           value="{{cube.store}}">
</div>
<div class="form-group">
    <label for="cube_label">Borwser</label>
    <select>
        <option value="default">Default</option>
        <option value="mixpanel">Mixpanel</option>
        <option value="mongo">Mongo</option>
        <option value="slicer">Slicer</option>
        <option value="sql">SQL Star/Snowflake</option>
        <option value="other">Other...</option>
    </select>
</div>

<div class="form-group">
    <label for="cube_label">Other Browser</label>
    <input type="text"
           class="form-control"
           placeholder="Other browser name"
           value="{{cube.browser}}">
</div>
