
<div class="row">
    <div class="col-xs-4 col-sm-3">
        <div class="panel panel-default">
            <div class="panel-body">
                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#cube_add_dim">Add</button>
                <div class="modal fade" id="cube_add_dim" tabindex="-1" role="dialog" aria-labelledby="Add Dimension" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                          <h4 class="modal-title" id="myModalLabel">Add Dimension</h4>
                        </div>
                        <div class="modal-body">
                          ...
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          <button type="button" class="btn btn-primary">Add</button>
                        </div>
                      </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div>
            </div>
            <ul class="list-group">
                <li class="list-group-item">Sales</li>
                <li class="list-group-item">Visits</li>
                <li class="list-group-item">Churn</li>
            </ul>
        </div>
    </div>
    <div class="col-xs-4 col-sm-3">
    </div>
</div>
