<div ng-if="!isAttributeMapping">
<form  class="form-horizontal" role="form">
<div class="form-group">
    <label class="col-sm-2 control-label">Key</label>
    <div class="col-sm-10">
    <input type="text"
           class="form-control"
           placeholder="attribute, dimension.attribute or dimension.attribute.locale"
           ng-model="content.key">
    </div>
</div>
</form>
</div>

<form class="form-horizontal" role="form">

<div ng-if="!storeType">
    <div class="form-group">
        <label class="col-sm-2 control-label">JSON</label>
        <div json-editor ng-model="content.value"> </div>
    </div>
</div>

<div ng-if="storeType == 'sql'">
    <div class="form-group">
        <label class="col-sm-2 control-label">Column</label>
        <div class="col-sm-10">
        <input type="text"
               class="form-control"
               placeholder="Mapping value"
               ng-model="content.value.column">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Table</label>
        <div class="col-sm-10">
        <input type="text"
               class="form-control"
               placeholder="Table name (default is fact table)"
               ng-model="content.value.table">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Schema</label>
        <div class="col-sm-10">
        <input type="text"
               class="form-control"
               placeholder="Database schema name"
               ng-model="content.value.schema">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Extract</label>
        <div class="col-sm-10">
        <input type="text"
               class="form-control"
               placeholder="Calendar unit to be extracted"
               ng-model="content.value.extract">
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Provisional/Experimental Properties</h3>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <label class="col-sm-2 control-label">Func</label>
                <div class="col-sm-10">
                <input type="text"
                       class="form-control"
                       placeholder="Mapping value"
                       ng-model="content.value.func">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Expr</label>
                <div class="col-sm-10">
                <input type="text"
                       class="form-control"
                       placeholder="Mapping value"
                       ng-model="content.value.expr">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Condition</label>
                <div class="col-sm-10">
                <input type="text"
                       class="form-control"
                       placeholder="Mapping value"
                       ng-model="content.value.cond">
                </div>
            </div>
        </div>
    </div>
</div>

<div ng-if="storeType == 'mongo'">
    <div class="form-group">
        <label class="col-sm-2 control-label">Field</label>
        <div class="col-sm-10">
        <input type="text"
               class="form-control"
               placeholder="mapping value"
               ng-model="content.value.field">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Match</label>
        <div class="col-sm-10">
        <input type="text"
               class="form-control"
               placeholder="mapping value"
               ng-model="content.value.match">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Project</label>
        <div class="col-sm-10">
        <input type="text"
               class="form-control"
               placeholder="mapping value"
               ng-model="content.value.project">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Group</label>
        <div class="col-sm-10">
        <input type="text"
               class="form-control"
               placeholder="mapping value"
               ng-model="content.value.group">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Encode</label>
        <div class="col-sm-10">
        <input type="text"
               class="form-control"
               placeholder="mapping value"
               ng-model="content.value.encode">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Decode</label>
        <div class="col-sm-10">
        <input type="text"
               class="form-control"
               placeholder="mapping value"
               ng-model="content.value.decode">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Type</label>
        <div class="col-sm-10">
        <input type="text"
               class="form-control"
               placeholder="mapping value"
               ng-model="content.value.type">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Extract</label>
        <div class="col-sm-10">
        <input type="text"
               class="form-control"
               placeholder="mapping value"
               ng-model="content.value.extract">
        </div>
    </div>
</div>
<div ng-if="storeType == 'json'">
    <div class="form-group">
        <label class="col-sm-2 control-label">JSON</label>
        <div class="col-sm-10">
        <textarea
               class="form-control"
               rows="10"
               ng-model="content.jsonString"
               ng-change="jsonEdited()">
        </textarea>
        <span ng-if="jsonIsValid" class="label label-success">Valid</span>
        <span ng-if="!jsonIsValid" class="label label-danger">Invalid</span>
        <span ng-if="!jsonIsValid">{{jsonError}}</span>
        </div>
    </div>
</div>
</form>
