<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
 "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <title>Cubes OLAP server</title>
</head>
<body>
  <h1>Cubes OLAP server</h1>
  <table id="info">
      <tr><td>Server version</td><td>{server_version}</td></tr>
      <tr><td>API version</td><td>{api_version}</td></tr>
      <tr><td>served model</td><td>{model}</td></tr>
      <tr><td>served cubes</td><td>{cubes}</td></tr>
  </table>
  <p>For more information please refer to the server
      <a href="http://packages.python.org/cubes/server.html">HTTP API documentation</a>
  </p>
</body>
</html>
