.visualizer-component-dialog-modal {
  opacity: 0.6;
  background: #000;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  z-index: 1000;
}

.visualizer-component-dialog {
  text-align: center;
  height: 100%;
  font-size: 0;
  z-index: 1001;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.visualizer-component-dialog:before {
  content: '';
  display: inline-block;
  height: 100%; 
  vertical-align: middle;
  font-size: 13px;
}

.visualizer-component-dialog-flyout {
  position: absolute;
  z-index: 1001;
  top: 0;
  left: 100%;
  height: 100%;
  margin-left: 15px;
  white-space: nowrap;
}

.visualizer-component-dialog-flyout:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  font-size: 13px;
}

.visualizer-component-dialog-flyout:after {
  content: '';
  display: block;
  background: #181818;
  position: absolute;
  top: 50%;
  margin-top: -7.5px;
  left: 0;
  margin-left: -7.5px;
  width: 15px;
  height: 15px;

  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
}

.visualizer-component-dialog-wrapper {
  display: inline-block;
  vertical-align: middle;
  position: relative;

  padding: 10px 15px;
  border: 1px solid #000;
  background: #181818;
  text-align: left;
  color: #fff;
  font-family: 'proxima-nova', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: 300;

  box-shadow: 5px 5px 15px #000;
  -moz-box-shadow: 5px 5px 15px #000;
  -webkit-box-shadow: 5px 5px 15px #000;

  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.visualizer-component-dialog-spinner {
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -25px;
  margin-top: -25px;
  z-index: 1002;
}

.visualizer-component-dialog-spinner > div {
  background-color: #fff;
  margin: 0 2px;
  height: 100%;
  width: 6px;
  display: inline-block;
  
  -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
  animation: stretchdelay 1.2s infinite ease-in-out;
}

.visualizer-component-dialog-spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.visualizer-component-dialog-spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.visualizer-component-dialog-spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.visualizer-component-dialog-spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

.visualizer-component-dialog-header {
  padding-bottom: 5px;
}

.visualizer-component-dialog-header img {
  display: inline-block;
  padding-right: 5px;
  vertical-align: middle;
}

.visualizer-component-dialog-header div:first-of-type {
  display: inline-block;
  padding-top: 0;
  vertical-align: middle;
}

.visualizer-component-dialog-header div {
  padding-top: 5px;
}

.visualizer-component-dialog-header .visualizer-component-dialog-header-title {
  font-size: 16px;
  font-weight: 400;
}

.visualizer-component-dialog-header .visualizer-component-dialog-header-description {
  font-size: 10px;
  color: #ddd;
}

.visualizer-component-dialog-footer {
  padding-top: 5px;
  text-align: right;
  white-space: nowrap;
}

.visualizer-component-dialog-btn {
  display: inline-block;
  cursor: pointer;
  color: #fff;
  margin: 0 5px;
  vertical-align: middle;
  padding: 7px 15px;

  /*-webkit-transition: color ease-out 0.3s;
  -moz-transition: color ease-out 0.3s;
  -o-transition: color ease-out 0.3s;
  transition: color ease-out 0.3s;*/
}

.visualizer-component-dialog-btn:last-of-type {
  margin-right: 0;
}

.visualizer-component-dialog-btn:hover {
  color: #999;
}

.visualizer-component-dialog-btn.visualizer-component-dialog-btn-inverted {
  color: #999;
}

.visualizer-component-dialog-btn.visualizer-component-dialog-btn-inverted:hover {
  color: #eee;
}

.visualizer-component-dialog-btn.visualizer-component-dialog-btn-styled {
  color: #eee;

  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;

  background-image: -o-linear-gradient(#3B3B3B, #212121);
  background-image: -moz-linear-gradient(#3B3B3B, #212121);
  background-image: -ms-linear-gradient(#3B3B3B, #212121);
  background-image: -webkit-linear-gradient(#3B3B3B, #212121);
  background-image: linear-gradient(#3B3B3B, #212121);
}

.visualizer-component-dialog-btn.visualizer-component-dialog-btn-styled:hover {
  color: #eee;

  background-image: -o-linear-gradient(#484848, #2E2E2E);
  background-image: -moz-linear-gradient(#484848, #2E2E2E);
  background-image: -ms-linear-gradient(#484848, #2E2E2E);
  background-image: -webkit-linear-gradient(#484848, #2E2E2E);
  background-image: linear-gradient(#484848, #2E2E2E);
}

.visualizer-component-dialog-btn.visualizer-component-dialog-btn-inverted.visualizer-component-dialog-btn-styled {
  color: #000;

  background-image: -o-linear-gradient(#fff, #E9E9E9);
  background-image: -moz-linear-gradient(#fff, #E9E9E9);
  background-image: -ms-linear-gradient(#fff, #E9E9E9);
  background-image: -webkit-linear-gradient(#fff, #E9E9E9);
  background-image: linear-gradient(#fff, #E9E9E9);
}

.visualizer-component-dialog-btn.visualizer-component-dialog-btn-inverted.visualizer-component-dialog-btn-styled:hover {
  color: #000;

  background-image: -o-linear-gradient(#eee, #ccc);
  background-image: -moz-linear-gradient(#eee, #ccc);
  background-image: -ms-linear-gradient(#eee, #ccc);
  background-image: -webkit-linear-gradient(#eee, #ccc);
  background-image: linear-gradient(#eee, #ccc);
}





.visualizer-component-dialog-content .visualizer-component-dialog-content-column-block {
  font-size: 12px;
  position: relative;
  margin-top: 5px;
}

.visualizer-component-dialog-content .visualizer-component-dialog-content-column-block:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
}

.visualizer-component-dialog-content .visualizer-component-dialog-content-column-block:last-of-type {
  margin-bottom: 5px;
}

.visualizer-component-dialog-content .visualizer-component-dialog-content-column-block
.visualizer-component-dialog-content-block-wrapper {
  padding-right: 15px;
  display: inline-block;
  vertical-align: middle;
}

.visualizer-component-dialog-content .visualizer-component-dialog-content-column-block
.visualizer-component-dialog-content-block-wrapper:last-of-type {
  padding-right: 0;
}

.visualizer-component-dialog-content .visualizer-component-dialog-content-column-block
.visualizer-component-dialog-content-block-wrapper.visualizer-component-dialog-content-block-wrapper-single-column {
  width: 100%;
}

.visualizer-component-dialog-content .visualizer-component-dialog-content-column-block
.visualizer-component-dialog-content-block-wrapper.visualizer-component-dialog-content-block-wrapper-centered {
  text-align: center;
  width: 100%;
}

.visualizer-component-dialog-content .visualizer-component-dialog-content-block {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.visualizer-component-dialog-content .visualizer-component-dialog-content-block
.visualizer-component-dialog-content-label {
  font-size: 14px;
}

.visualizer-component-dialog-content .visualizer-component-dialog-content-block
.visualizer-component-dialog-content-description {
  font-size: 10px;
  color: #ddd;
}

.visualizer-component-dialog-content .visualizer-component-dialog-content-block
.visualizer-component-dialog-content-text-wrapper {
  padding-right: 12px;
}

.visualizer-component-dialog-content .visualizer-component-dialog-content-block
.visualizer-component-dialog-content-text-wrapper .visualizer-component-dialog-content-text {
  width: 100%;
  padding: 5px;
  border: 1px solid #dfdfdf;

  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

.visualizer-component-dialog-content .visualizer-component-dialog-content-block
.visualizer-component-dialog-content-dd-wrapper {
  padding: 5px;
  margin: 2px 0;
  background: #fff;
  border: 1px solid #dfdfdf;
  position: relative;

  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

.visualizer-component-dialog-content .visualizer-component-dialog-content-block
.visualizer-component-dialog-content-dd-wrapper .visualizer-component-dialog-content-dd-display-wrapper {
  width: 100%;
  height: 13px;
  color: #000;
  background: transparent url(../../images/select-arrow-dark.png) center right no-repeat;
}

.visualizer-component-dialog-content .visualizer-component-dialog-content-block
.visualizer-component-dialog-content-dd-wrapper .visualizer-component-dialog-content-dd-display {
  margin-right: 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.visualizer-component-dialog-content .visualizer-component-dialog-content-block
.visualizer-component-dialog-content-dd-wrapper .visualizer-component-dialog-content-dd {
  width: 100%;
  background: #fff;
  opacity: 0;
  margin: 0;
  position: absolute;
  top: 2.5px;
  left: 0;
  cursor: pointer;
}

.visualizer-component-dialog-content .visualizer-component-dialog-content-block
.visualizer-component-dialog-content-checkbox-block {
  margin: 2px 7px 2px 0;
}

.visualizer-component-dialog-content .visualizer-component-dialog-content-block
.visualizer-component-dialog-content-checkbox-block.visualizer-component-dialog-content-checkbox-block-inline {
  display: inline-block;
}

.visualizer-component-dialog-content .visualizer-component-dialog-content-block
.visualizer-component-dialog-content-information {
  font-size: 13px;
}