body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #fff;
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
}

.load-overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #fff;
  z-index: 9999;
}

.center-block {
  text-align: center;
}

.center-block:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
  position: relative;
}

.centered {
  display: inline-block;
  vertical-align: middle;
}

.clearfloat {
  clear: both;
}

.splash-screen {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 2000;
  background: #181818;
  color: #fff;
  display: table;
}

.splash-screen .splash-content {
  height: 330px;
  min-height: 330px;
  padding: 5px;
}

.splash-screen .block {
  padding: 0 15px 15px 15px;
}

.splash-screen .block * {
  display: inline-block;
}

.splash-screen .block .label {
  padding: 0 5px;
  font-size: 13px;
}

.splash-screen .logo {
  display: inline-block;
  padding-bottom: 25px;
}

.splash-screen .logo * {
  float: left;
}

.splash-screen .logo .logo-img {
  background-position: center center;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
}

.splash-screen .logo .logo-txt {
  height: 50px;
  line-height: 50px;
  font-size: 24px;
  font-weight: bold;
}

.splash-screen .important-number {
  color: #ccc;
  font-size: 22px;
  font-weight: bold;
}

.splash-screen .cubes-url input[type=text] {
  font-size: 22px;
  width: 700px;
  padding: 5px;
  border: 1px solid #dfdfdf;

  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

.splash-screen .cubes-url .text-btn {
  padding-bottom: 5px;
}

.splash-screen .btn {
  cursor: pointer;
  margin: 5px;
  vertical-align: middle;

  -webkit-transition: opacity ease-out 0.3s;
  -moz-transition: opacity ease-out 0.3s;
  -o-transition: opacity ease-out 0.3s;
  transition: opacity ease-out 0.3s;

  padding: 5px 10px;
  color: #212121;

  background-image: -o-linear-gradient(#eee, #999);
  background-image: -moz-linear-gradient(#eee, #999);
  background-image: -ms-linear-gradient(#eee, #999);
  background-image: -webkit-linear-gradient(#eee, #999);
  background-image: linear-gradient(#eee, #999);

  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

.splash-screen .btn:hover {
  opacity: 1;
  color: #181818;

  background-image: -o-linear-gradient(#C4C4C4, #919191);
  background-image: -moz-linear-gradient(#C4C4C4, #919191);
  background-image: -ms-linear-gradient(#C4C4C4, #919191);
  background-image: -webkit-linear-gradient(#C4C4C4, #919191);
  background-image: linear-gradient(#C4C4C4, #919191);
}

.splash-screen .text-btn {
  font-size: 13px;
  color: #777;
  cursor: pointer;
  vertical-align: middle;

  -webkit-transition: opacity ease-out 0.3s;
  -moz-transition: opacity ease-out 0.3s;
  -o-transition: opacity ease-out 0.3s;
  transition: opacity ease-out 0.3s;
}

.splash-screen .text-btn:hover {
  opacity: 0.5;
}

.splash-screen .splash-footer {
  width: 100%;
  height: 173px;
  display: table-row;
}

.splash-screen .authors a,
.splash-screen .project a {
  text-decoration: none;
  line-height: 18px;
}

.splash-screen .project div {
  display: block;
}

.splash-screen .thanks > * {
  display: inline-block;
}

.splash-screen .thanks div {
  height: 25px;
  line-height: 25px;
  vertical-align: top;
}

.splash-screen .thanks a {
  text-decoration: none;
  color: #fff;
}

.sidebar {
  float: left;
  width: 350px;
  height: 100%;
  background: #181818;
  margin-left: 0;
  /*overflow-x: hidden;*/

  font-size: 13px;
  color: #fff;

  -webkit-transition: margin-left ease-out 0.3s;
  -moz-transition: margin-left ease-out 0.3s;
  -o-transition: margin-left ease-out 0.3s;
  transition: margin-left ease-out 0.3s;
}

.sidebar.fullscreen {
  margin-left: -350px;
}

.sidebar .sidebar-content {
  background: #181818;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -100px;
}

.sidebar .push {
  height: 90px;
}

.sidebar .logo > * {
  float: left;
}

.sidebar .logo .icon {
  background-position: center center;
  background-repeat: no-repeat;
  margin-top: 5px;
  width: 50px;
  height: 50px;
}

.sidebar .logo .text {
  height: 50px;
  line-height: 50px;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
}

.sidebar .connection-info {
  padding: 0 5px;
  text-align: center;
}

.sidebar .connection-info .text {
  font-weight: bold;
  height: 20px;
  line-height: 20px;
}

.sidebar .connection-info span.tooltip {
  z-index: 100000;
  display: none;
  padding: 10px;
  margin-left: 8px;
  margin-top: -15px;
  text-align: left;

  border-radius:4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;

  -moz-box-shadow: 5px 5px 15px black;
  -webkit-box-shadow: 5px 5px 15px black;
  box-shadow: 5px 5px 15px black;
}

.sidebar .connection-info span.tooltip * {
  display: block;
}

.sidebar .connection-info span.tooltip .url {
  font-weight: bold;
}

.sidebar .connection-info span.tooltip .description {
  font-size: 11px;
}

.sidebar .connection-info:hover span.tooltip {
  display: inline;
  position: absolute;
  left: 350px;
  color: #fff;
  background: #181818;
}

.sidebar .connection-info:hover span.tooltip:before {
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  right: 100%;
  top: 50%;
  margin-top: -7px;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-right: 7px solid #181818;
}

.sidebar .section {
  padding: 5px 0;
  width: 100%;
}

.sidebar .header {
  margin: 0 auto;
  padding: 5px;
  text-align: center;
  margin-bottom: 5px;
  font-weight: 400;
  letter-spacing: 1px;
}

.sidebar .header.pretty {
  border-bottom: 1px solid #777;
  width: 125px;
}

.sidebar .text {
  color: #ccc;
  margin: 5px;
  text-align: center;
}

.sidebar .icon {
  height: 18px;
  width: 18px;
}

.sidebar .icon.disabled {
  opacity: 0.25;
}

.sidebar .btn-grp {
  text-align: center;
}

.sidebar .btn-grp .btn {
  display: inline-block;
}

.sidebar .btn {
  color: #777;
  cursor: pointer;
  margin: 5px;
  vertical-align: middle;

  -webkit-transition: opacity ease-out 0.3s;
  -moz-transition: opacity ease-out 0.3s;
  -o-transition: opacity ease-out 0.3s;
  transition: opacity ease-out 0.3s;
}

.sidebar .btn:not(.disabled):not(.selected):hover {
  opacity: 0.5;
}

.sidebar .btn.pretty {
  padding: 7px 15px;
  color: #eee;

  background-image: -o-linear-gradient(#3B3B3B, #212121);
  background-image: -moz-linear-gradient(#3B3B3B, #212121);
  background-image: -ms-linear-gradient(#3B3B3B, #212121);
  background-image: -webkit-linear-gradient(#3B3B3B, #212121);
  background-image: linear-gradient(#3B3B3B, #212121);

  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

.sidebar .btn.pretty.inverted {
  padding: 5px 10px;
  color: #212121;

  background-image: -o-linear-gradient(#eee, #999);
  background-image: -moz-linear-gradient(#eee, #999);
  background-image: -ms-linear-gradient(#eee, #999);
  background-image: -webkit-linear-gradient(#eee, #999);
  background-image: linear-gradient(#eee, #999);
}

.sidebar .btn.pretty:not(.disabled):not(.selected):hover {
  opacity: 1;
  color: #eee;

  background-image: -o-linear-gradient(#484848, #2E2E2E);
  background-image: -moz-linear-gradient(#484848, #2E2E2E);
  background-image: -ms-linear-gradient(#484848, #2E2E2E);
  background-image: -webkit-linear-gradient(#484848, #2E2E2E);
  background-image: linear-gradient(#484848, #2E2E2E);
}

.sidebar .btn.pretty.inverted:not(.disabled):not(.selected):hover {
  opacity: 1;
  color: #181818;

  background-image: -o-linear-gradient(#C4C4C4, #919191);
  background-image: -moz-linear-gradient(#C4C4C4, #919191);
  background-image: -ms-linear-gradient(#C4C4C4, #919191);
  background-image: -webkit-linear-gradient(#C4C4C4, #919191);
  background-image: linear-gradient(#C4C4C4, #919191);
}

.sidebar .btn.pretty.disabled {
  opacity: 0.25;
}

.sidebar .btn.block {
  background-color: #333;
  color: #fff;
  margin: 5px;
  padding: 10px;

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.sidebar .btn.block.disabled {
  opacity: 0.25;
}

.sidebar .btn.block.selected {
  background-color: #777;
}

.sidebar .selected {
  cursor: default;
  color: #ccc !important;
}

.sidebar .disabled {
  cursor: default;
  color: #333;
}

.sidebar .footer {
  height: 90px;
  width: 350px;

  -webkit-transition: margin-left ease-out 0.3s;
  -moz-transition: margin-left ease-out 0.3s;
  -o-transition: margin-left ease-out 0.3s;
  transition: margin-left ease-out 0.3s;
}

.sidebar .layers {
  overflow: hidden;
  width: 350px;
  margin-left: 0;

  -webkit-transition: margin-left ease-out 0.3s;
  -moz-transition: margin-left ease-out 0.3s;
  -o-transition: margin-left ease-out 0.3s;
  transition: margin-left ease-out 0.3s;
}

.sidebar .layers .layer {
  float: left;
  width: 350px;
}

.sidebar .layers .section {
  position: static;
}

.sidebar .layernav {
  height: 24px;
}

.sidebar .layernav .icon {
  height: 14px;
  width: 14px;
}

.sidebar .layernav .icon.delete {
  margin-left: 15px;
  float: left;
}

.sidebar .layernav .icon.add {
  margin-right: 15px;
  float: right;
}

.sidebar .layernav .icon.arrowleft {
  float: left;
}

.sidebar .layernav .icon.arrowright {
  float: right;
}

.sidebar .layernav .pages {
  position: absolute;
  left: 58px;
  right: 58px;
  margin: 0 5px;
}

.sidebar .layernav .pages .page {
  height: 14px;
  width: 14px;
  margin: 5px 5px 5px 0;
  opacity: 0.25;
  background: transparent url(../images/page.png) center center no-repeat;
}

.sidebar .layernav .pages .page.selected {
  opacity: 1;
}

.sidebar .layernav .pages .page:last-of-type {
  margin-right: 0;
}

.sidebar .granularity {
  position: static;
}

.sidebar .granularity .timeframe {
  color: #ccc;
}

.sidebar .granularity .timeframe > * {
  display: inline-block;
}

.sidebar .granularity .timeframe .start:after {
  content: '-';
  margin-left: 5px;
}

.sidebar .icon.link {
  background: transparent url(../images/icon_link_18_light.png) center center no-repeat;
}

.sidebar .icon.amount {
  background: transparent url(../images/icon-number.png) center center no-repeat;
}

.sidebar .icon.bar {
  background: transparent url(../images/icon-chart-bar.png) center center no-repeat;
}

.sidebar .icon.pie {
  background: transparent url(../images/icon-chart-pie.png) center center no-repeat;
}

.sidebar .icon.donut {
  background: transparent url(../images/icon-chart-donut.png) center center no-repeat;
}

.sidebar .icon.line {
  background: transparent url(../images/icon-chart-line.png) center center no-repeat;
}

.sidebar .icon.stacked {
  background: transparent url(../images/icon-chart-area.png) center center no-repeat;
}

.sidebar .icon.heatmap {
  background: transparent url(../images/icon-chart-heatmap.png) center center no-repeat;
}

.sidebar .icon.table {
  background: transparent url(../images/icon-table.png) center center no-repeat;
}

.sidebar .icon.top {
  background: transparent url(../images/icon-table-top.png) center center no-repeat;
}

.sidebar .icon.bottom {
  background: transparent url(../images/icon-table-bottom.png) center center no-repeat;
}

.sidebar .icon.export {
  background: transparent url(../images/icon-exporting-14-light.png) center center no-repeat;
}

.sidebar .icon.add {
  background: transparent url(../images/icon-add-14-light.png) center center no-repeat;
}

.sidebar .icon.delete {
  background: transparent url(../images/icon-delete-14-light.png) center center no-repeat;
}

.sidebar .icon.remove {
  background: transparent url(../images/icon-remove.png) center center no-repeat;
}

.sidebar .icon.arrowleft {
  background: transparent url(../images/icon-arrowleft-14-light.png) center center no-repeat;
}

.sidebar .icon.arrowright {
  background: transparent url(../images/icon-arrowright-14-light.png) center center no-repeat;
}

.sidebar .header .icon {
  display: inline-block;
  height: 14px;
  width: 14px;
}

.sidebar .header-with-icon {
  margin-left: 19px;
}

.sidebar .checkbox {
  height: 16px;
  width: 16px;
  cursor: pointer;
  background: transparent url(../images/checkbox-inactive-14-light.png) center center no-repeat;
}

.sidebar .checkbox.active {
  background: transparent url(../images/checkbox-active-14-light.png) center center no-repeat;
}

.sidebar .calendar-btn:not(.disabled) {
  cursor: pointer;
}

.sidebar .calendar-grp {
  position: absolute;
  top: 0;
  left: 350px;
  font-size: 12px;
  padding: 5px;
  z-index: 100;
}

.sidebar .calendar-grp .yui3-calendar-header {
  width: 100%;
}

.sidebar .icon.fullscreen {
  padding: 5px;
  z-index: 999;
  position: fixed;
  left: 350px;
  bottom: 0;
  opacity: 0.1 !important;
  background: #fff url(../images/icon-fullscreen-open-14-dark-flipped.png) center center no-repeat;

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;

  -webkit-transition: opacity ease-out 0.3s, left ease-out 0.3s;
  -moz-transition: opacity ease-out 0.3s, left ease-out 0.3s;
  -o-transition: opacity ease-out 0.3s, left ease-out 0.3s;
  transition: opacity ease-out 0.3s, left ease-out 0.3s;
}

.sidebar .icon.fullscreen:hover {
  opacity: 1 !important;
}

.sidebar .icon.fullscreen.active {
  left: 0;
  background: #fff url(../images/icon-fullscreen-close-14-dark-flipped.png) center center no-repeat;
}

.sidebar .filter-grp {
  text-align: center;
}

.sidebar .filter-grp .filter .icon.remove {
  float: left;
  height: 16px;
  width: 16px;
}

.sidebar .filter-grp .filter .checkbox {
  float: left;
  margin: 5px;
}

.sidebar .filter-grp .filter .invert {
  float: left;
  color: #333;

  -webkit-transition: color ease-out 0.3s;
  -moz-transition: color ease-out 0.3s;
  -o-transition: color ease-out 0.3s;
  transition: color ease-out 0.3s;
}

.sidebar .filter-grp .filter .invert.active:not(.disabled) {
  color: #ccc;
}

.sidebar .filter-grp .filter .invert.disabled {
  color: #333;
}

.sidebar .filter-grp .filter .invert:not(.disabled):hover {
  color: #777;
  cursor: pointer;
}

.sidebar .filter-grp .filter .invert:after {
  content: '(NOT)';
}

.sidebar .filter-grp .filter .info {
  text-align: left;
  color: #228622;
}

.sidebar .filter-grp .filter .info > * {
  color: #228622;
  display: inline-block;
  margin: 5px 2px;
}

.sidebar .filter-grp .filter .info.disabled > * {
  color: #333 !important;
}

.sidebar .filter-grp .filter .info.inverted > * {
  color: #9A0E14;
}

.sidebar .filter-create {
  position: relative;
}

.sidebar .link.zeroclipboard-is-hover {
  opacity: 1;
  color: #eee;

  background-image: -o-linear-gradient(#484848, #2E2E2E);
  background-image: -moz-linear-gradient(#484848, #2E2E2E);
  background-image: -ms-linear-gradient(#484848, #2E2E2E);
  background-image: -webkit-linear-gradient(#484848, #2E2E2E);
  background-image: linear-gradient(#484848, #2E2E2E);
}

.content-wrapper {
  height: 100%;
  /*margin-left: 350px;*/
  position: relative;
  overflow: hidden;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-transition: margin-left ease-out 0.3s;
  -moz-transition: margin-left ease-out 0.3s;
  -o-transition: margin-left ease-out 0.3s;
  transition: margin-left ease-out 0.3s;
}

.content-wrapper .content {
  position: fixed;
  top: 26px;
  bottom: 5px;
  left: 355px;
  right: 5px;
}

.content-wrapper .title {
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  line-height: 26px;
}

.error {
  height: 100%;
  font-size: 36px;
}

.spinner {
  position: absolute;
  left: 50% !important;
}

.modal {
  opacity: 0.6;
  background: #000;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  z-index: 1000;
}

.hidden {
  display: none;
}

