<div class="row">
    <div class="col-xs-3 col-sm-4">
        <div class="panel panel-default">
            <div class="panel-body">
                <button type="button"
                        class="btn btn-default"
                        ng-click="addAttribute()">
                    New {{attributeLabel}}
                </button>
                <div class="input-group">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-search"></span>
                    </span>
                    <input type="search"
                           class="form-control search"
                           placeholder="Search {{attributeLabel}}"
                           ng-model="attribute_query">
                </div>
            </div>
            <div class="list-group"
                ng-repeat="attribute in attributes | filter:attribute_query">
                <a class="list-group-item"
                   ng-click="selectAttribute(attribute)">
                        {{attribute.label || "(no label)"}}
                    <small>({{attribute.name}})</small>
                    <span class="glyphicon glyphicon-remove pull-right"
                          ng-click="removeAttribute($index)"></span>
                </a>
                </span>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-sm-8">
        <div ng-if="selectedAttribute">
            <ng-include src="'views/attribute-base.html'"></ng-include>
        </div>
        <div ng-if="! selectedAttribute">No {{attributeLabel}} selected</div>
    </div>
</div>

