<div class="form-group">
    <label>Name</label>
    <input type="text"
           class="form-control"
           placeholder="Enter Cube Name"
           ng-model="cube.name">
</div>

<div class="form-group">
    <label>Label</label>
    <input type="text"
           class="form-control"
           placeholder="Label"
           ng-model="cube.label">
</div>

<div class="form-group">
    <label>Description</label>
    <textarea class="form-control"
              placeholder="Cube Description"
              ng-model="cube.description">{{cube.description}}</textarea>
</div>

<div class="form-group">
    <label>Category</label>
    <input type="text"
           class="form-control"
           placeholder="Category"
           ng-model="cube.category">
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Physical Properties</h3>
    </div>
    <div class="panel-body">
        <div class="form-group">
            <label>Fact</label>
            <input type="text"
                   class="form-control"
                   placeholder="Fact table or collection name"
                   ng-model="cube.fact">
        </div>
        <div class="form-group">
            <label>Key</label>
            <input type="text"
                   class="form-control"
                   placeholder="Fact key (default is 'id')"
                   ng-model="cube.key">
        </div>
    </div>
</div>

