<div class="form-group">
    <label>Datastore Name</label>
    <input type="text"
           class="form-control"
           placeholder="default"
           ng-model="cube.store">
</div>
<div class="form-group">
    <label>Borwser</label>
    <select ng-model="cube.browser">
        <option value="default">Default</option>
        <option value="sql">SQL Star/Snowflake</option>
        <option value="mongo">Mongo</option>
        <option value="slicer">Slicer</option>
        <option value="mixpanel">Mixpanel</option>
        <option value="">Other...</option>
    </select>
</div>

<div class="form-group">
    <label>Other Browser</label>
    <input type="text"
           class="form-control"
           placeholder="Other browser name"
           ng-model="cube.browser">
</div>
