<div class="panel panel-default">
    <div class="panel-body">
        <div class="input-group">
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-search"></span>
            </span>
            <input type="search" class="form-control search" placeholder="Search Cube" ng-model="query">
        </div>
    </div>
    <ul class="list-group" ng-repeat="aggregate in cube.aggregates | filter:query">
        <li class="list-group-item">
        <a>{{aggregate.label || "(no label)"}} <small>({{aggregate.name}})</small></a></li>
    </ul>
</div>


