.browser-column {
    padding-left: 0;
    padding-right: 0;
}
.browser-column-list {
    height: 150px;
    overflow: auto;
}

.attribute-flag {
    color:rgb(221, 221, 221);
}

.attribute-flag-active {
    color: black; 
}

.tab-content {
    padding-top: 12px;
}
