<!doctype html>
<html ng-app="CubesModelerApp">
<head>
    <title>Cubes Modeler</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <script src="js/angular.js"></script>
    <script src="js/angular-route.min.js"></script>
    <script src="app.js"></script>
    <script src="controllers.js"></script>
</head>

<body>
<div class="container">
    <!-- static navbar -->
    <div class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Cubes Modeler</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Cubes</a></li>
          <li><a href="#">Dimensions</a></li>
          <li><a href="#">Overview</a></li>
        </ul>
    </div>

<div class="row">

    <div ng-view></div>

</div>



<!-- jquery (necessary for bootstrap's javascript plugins) -->
<script src="https://code.jquery.com/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>

</body>
</html>
