<div class="row">
    <div class="col-xs-3 col-sm-4">
        <div class="panel panel-default">
            <div class="panel-body">
                <button type="button" class="btn btn-default">New Aggregate</button>
                <div class="input-group">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-search"></span>
                    </span>
                    <input type="search"
                           class="form-control search"
                           placeholder="Search Aggregate"
                           ng-model="cube_aggregate_query">
                </div>
            </div>
            <div class="list-group"
                ng-repeat="aggregate in cube.aggregates | filter:cube_aggregate_query">
                <a class="list-group-item"
                   ng-click="selectAggregate(aggregate)">
                        {{aggregate.label || "(no label)"}}
                    <small>({{aggregate.name}})</small>
                    <span class="glyphicon glyphicon-remove pull-right"
                          ng-click="removeAggregate(aggregate)"></span>
                </a>
                </span>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-sm-8">
        <div ng-if="selectedAttribute">
            <ng-include src="'views/attribute-base.html'"></ng-include>
        </div>
        <div ng-if="! selectedAttribute">No aggregate selected</div>
    </div>
</div>
