<div class="row">
    <div class="col-xs-4 col-sm-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                Available Dimensions
            </div>
            <div class="panel-body">
                <div class="input-group">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-search"></span>
                    </span>
                    <input type="search"
                           class="form-control search"
                           placeholder="Search Dimension"
                           ng-model="available_dim_query">
                </div>
            </div>
            <div class="list-group">
                <a class="list-group-item"
                    ng-click="includeDimension(dim.id)"
                    ng-repeat="dim in available_dimensions | filter:available_dim_query"
                    title="Name: {{dim.name}}">
                    {{dim.label}}
                    <span class="glyphicon glyphicon-plus pull-right"></span>
                </a>
            </div>
        </div>
    </div>
    <div class="col-xs-4 col-sm-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                Cube Dimensions
            </div>
            <div class="panel-body">
                <div class="input-group">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-search"></span>
                    </span>
                    <input type="search"
                           class="form-control search"
                           placeholder="Search Dimension"
                           ng-model="cube_dim_query">
                </div>
            </div>
            <div class="list-group">
                <a class="list-group-item"
                   ng-repeat="dim in cube_dimensions | filter:cube_dim_query"
                   title="Name: {{dim.name}}">
                   {{dim.label}}
                    <span class="glyphicon glyphicon-remove pull-right"
                          ng-click="removeDimension(dim.id)"></span>
                </a>
            </div>
        </div>
    </div>
    <div class="col-xs-4 col-sm-3">
    </div>
</div>
