<div class="panel panel-default" ng-controller="DimensionListController">
    <div class="panel-heading">
        Dimensions
        <span class="pull-right glyphicon glyphicon-plus" ng-click="addDimension()"></span>
    </div>
    <div class="panel-body">
        <div class="input-group">
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-search"></span>
            </span>
            <input type="search" class="form-control search" placeholder="Search Dimension" ng-model="query">
        </div>
    </div>
    <div class="list-group">
        <a class="list-group-item"
            href="#/dimensions/{{dimension.id}}"
            ng-repeat="dimension in dimensions | filter:query">
            {{dimension.label || dimension.name || "(no name)"}}
            <small>({{dimension.name || "(no name)"}})</small>
        </a>
    </div>
</div>
