<ng-include src="'views/partials/model_object.html'"></ng-include>

<form class="form-horizontal" role="form">
<div ng-if="attributeType == 'aggregate'">
    <div class="form-group">
        <label class="col-sm-2 control-label">Measure</label>
        <div class="col-sm-10">
        <input type="text"
               class="form-control"
               placeholder="Measure name"
               ng-value="content.measure">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Function</label>
        <div class="col-sm-4">
            <select class="form-control"
                    ng-model="content.function"
                    ng-options="f.name as f.label for f in functions">
            </select>
        </div>
        <div class="col-sm-6">
            <input type="text"
                   class="form-control"
                   placeholder="Other function"
                   ng-value="content.function">
        </div>
    </div>
</div>

<div class="form-group">
    <label class="col-sm-2 control-label">Info Dictionary</label>
    <div class="col-sm-10">
        <div json-editor ng-model="content.info"> </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Physical Mapping</h3>
    </div>
    <div class="panel-body">
        <mapping-editor ng-model='content.mapping'></mapping-editor>
    </div>
</div>
</form>

