<ng-include src="'views/partials/model_object.html'"></ng-include>

<form class="form-horizontal" role="form">
<div class="form-group">
    <label class="col-sm-2 control-label">Category</label>
    <div class="col-sm-10">
    <input type="text"
           class="form-control"
           placeholder="Category"
           ng-model="cube.category">
    </div>
</div>

<div class="form-group">
    <label class="col-sm-2 control-label">Info Dictionary</label>
    <div class="col-sm-10">
        <div json-editor ng-model="cube.info"> </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Physical Properties</h3>
    </div>
    <div class="panel-body">
        <form class="form-horizontal" role="form">
        <div class="form-group">
            <label class="col-sm-2 control-label">Datastore Name</label>
            <div class="col-sm-10">
            <input type="text"
                   class="form-control"
                   placeholder="default"
                   ng-model="cube.datastore">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Fact</label>
            <div class="col-sm-10">
            <input type="text"
                   class="form-control"
                   placeholder="Fact table or collection name"
                   ng-model="cube.fact">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Key</label>
            <div class="col-sm-10">
            <input type="text"
                   class="form-control"
                   placeholder="Fact key (default is 'id')"
                   ng-model="cube.key">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Browser</label>
            <div class="col-sm-4">
            <select class="form-control"
                    ng-model="cube.browser"
                    ng-options="f.name as f.label for f in browsers">
            </select>
            </div>

            <div class="col-sm-6">
            <input type="text"
                   class="form-control"
                   placeholder="Other browser"
                   ng-value="cube.browser">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Browser Options</label>
            <div class="col-sm-10">
                <div json-editor ng-model="cube.browser_options"> </div>
                <div><small>Used privately by the browser only.</small></div>
            </div>
        </div>
    </div>
</div>
</form>


