<div ng-controller="DimensionController">
<div class="page-header">
    <h3>{{dimension.label || dimension.name || "(no name)"}} <small>{{dimension.name}}</small></h3>
</div>

<!-- Nav tabs -->
<ul class="nav nav-tabs">
    <li ng-class="{active: active_tab == 'info'}">
        <a ng-click="active_tab = 'info';">Overview</a>
    </li>
    <li ng-class="{active: active_tab == 'hierarchies'}">
        <a ng-click="active_tab = 'hierarchies';">Attributes and Hierarchies</a>
    </li>
</ul>

<!-- Tab panes -->
<div class="tab-content" >
    <div ng-switch="active_tab">
        <div ng-switch-when='info'>
            <ng-include src="'views/dimension-detail-overview.html'"></ng-include>
        </div>
        <div ng-switch-when='hierarchies'>
             <ng-include src="'views/dimension-detail-hierarchies.html'"></ng-include>
        </div>
    </div>
</div>
</div>
